.filter__sort {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-right: 2.6em;
}

@media screen and (max-width: 536px){
  .filter__sort{
    width: 100%;
    margin: 0;
  }
}