.filter__select-price {
  font-size: 18px;
  line-height: 22px;
  height: 1.5em;
  appearance: none;
  border: none;
  outline: none;

  margin-right: 1.2em;
}
.filter__select-price:hover {
  cursor: pointer;
}
